
.formTitel {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 40px;
    margin-bottom: 15px;
  }
  .formConatiner {
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 65%;
    background-color: white;
    border: solid rgb(201, 201, 201) 1px;
  }
  
  .form {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
  }
  
  .inputLabel {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  
  .formInput {
    border: 1px solid;
    outline: none;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .formInput[type="number"] {
    -moz-appearance: textfield;
  }
  
  .formInput::-webkit-outer-spin-button,
  .formInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .formInput:focus {
    outline: none;
    border: 1px solid #2281ca;
    box-shadow: 0px 0px 10px #7bc1f7;
  }
  
  .titelInput {
    margin-top: 8px;
    height: 30px;
    margin-bottom: 20px;
    width: 500px;
  }
  
  .titelInput:focus {
    outline: none;
    border: 1px solid #2281ca;
    box-shadow: 0px 0px 10px #7bc1f7;
  }
  
  .textAreaInput {
    margin-top: 8px;
    resize: none;
    height: 100px;
    margin-bottom: 20px;
    width: 500px;
  }
  
  .textAreaInput:focus {
    
    outline: none;
    border: 1px solid #2281ca;
    box-shadow: 0px 0px 10px #7bc1f7;
  }
  
  .priceDiv {
    display: block;
  }
  
  .priceInput {
    display: inline;
  }
  
  .priceCurrency {
    display: inline;
    background-color: rgb(189, 185, 185);
    border: solid black 1px;
    padding: 0.6vh;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .addImg {
    margin-bottom: 50px;
  }
  
  .fileInput {
    margin-top: 15px;
    max-width: 100px;
    justify-content: center;
  }
  
  .formSubmitBtn {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    color: white;
    background-color: #137eec;
    border-radius: 5px;
    border: none;
  }